.circular-gallery {
    width: 100%;
    min-height: 480px;
    border-radius: 36px;
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
    .circular-gallery {
        min-height: 560px;
    }
}